.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .rows{
    font-size: medium;
    color: black;
  }
  
  .title-text {
    font-weight: bold;
    color: black;
   // font-family: 'Roboto', sans-serif;
  }
  
  .value-text {
    color: black;
   // font-family: 'Roboto', sans-serif;
  }