.lines {
    border-top: 1px solid black;
}

.text-header {
    font-weight: bold;
    font-size: medium;
    
}

.title-text {
    font-weight: bold;
    color: black;
   // font-family: 'Roboto', sans-serif;
  }
  
  .value-text {
    color: black;
   // font-family: 'Roboto', sans-serif;
  }
  .next-button {
      margin: 2% 1% 5% 1% ;
  }
  .card-header {
      text-align: center;
      font-weight: bold;
      font-size: medium;
      //color: black;
  }

  .card-subtitle {
      text-align: center;
      font-weight: bold;
      color: black;
  }