
.carl-title-col {
    padding-top: 16vh;
    letter-spacing: 2px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    font-size: xx-large
  
  }
  
  .grid-sign-reg {
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 12vh;
  }
  
  .button-sign-reg {
    height: 54px;
    font-weight: bold;
    font-size: 16px
  }
  
  .bg-image {
    background-image: url("../../../assets/img/bg2.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .error-font-style {
    padding-left: 12px;
    font-size: 12px;
  }
  
  